<div class="sidebar">
    <div class="sidebar-header">
        <h3>aaaaa</h3>
    </div>
    <div class="sidebar-comp">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/Node_JS">Js Basic</a>
        </li>
    </div>
</div>